html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@import url('//fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic|Alegreya+Sans:400,700');

input,
textarea {
    font-size: 14px;
    padding: 0.2em;
    border: 1px solid #CCC;
    border-radius: 3px;
    font-family: monospace
}

input:disabled,
textarea:disabled {
    opacity: 0.3;
}

textarea {
    min-height: 300px;
}

label {
    width: 100%;
    margin: 0.2em;
    display: flex;
}

label input,
label textarea {
    width: 80%;
    flex-grow: 1;
}

label span {
    text-align: right;
    min-width: 100px;
    margin: 0.2em;
}

/* Styles for prerendered pool image grids so static HTML matches component layout */
.imagegrid {
    width: calc(100vw - 5em);
}

.imagegrid .grid {
    display: inline-block;
    padding: 0.5em 1em 0.5em 0;
    transition: all 0.5s;
    position: relative;
}

.imagegrid .grid a {
    border: none;
}

.imagegrid .grid img {
    box-shadow: 1px 1px 0.3em rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.imagegrid .grid .label {
    position: absolute;
    opacity: 0;
    left: 0;
    transition: opacity 0.6s;
}

.imagegrid .grid:hover img {
    box-shadow: 3px 3px 0.5em rgba(0, 0, 0, 0.6);
}

.imagegrid .grid:hover .label {
    opacity: 1;
}

.imagegrid .hover {
    margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
    .imagegrid {
        width: calc(100vw - 1em);
    }
}

/* Global list layout for prerendered pool lists */
.flex {
    display: flex;
    align-items: flex-start;
}

.flex .label {
    min-width: 140px;
    text-align: right;
    padding-right: 0.5em;
}

.flex .content {
    flex: 1 1 auto;
}

.hljs {
    font-size: 0.8em
}